# Setup AWS connections and prepare data sources

In [61]:
#import libraries

import boto3
import pandas as pd
from io import StringIO
import time
import redshift_connector

In [62]:
#define constants

AWS_ACCESS_KEY = "AKIAQGATPNUVSTFMHZWS"
AWS_SECRET_KEY = "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"
AWS_REGION = "ap-northeast-1"
SCHEMA_NAME = "covid_dataset"
S3_STAGING_DIR = "s3://la-dev-test-bucket/output/"
S3_PROD_BUCKET = "covid-data-warehouse"
S3_BUCKET_NAME = "la-dev-test-bucket"
S3_OUTPUT_DIRECTORY = "output"

In [63]:
#connect to Athena

try:
    athena_client = boto3.client('athena',aws_access_key_id=AWS_ACCESS_KEY,
                     aws_secret_access_key=AWS_SECRET_KEY,
                     region_name=AWS_REGION
                  )
except Exception as e:
    print(e)

In [64]:
#function to query Athena then save results to S3

Dict = {}

def download_and_load_query_results(
    client: boto3.client, query_response: Dict) -> pd.DataFrame:
    while True:
        try:
            #this function only loads the first 1000 rows
            client.get_query_results(
                QueryExecutionId=query_response['QueryExecutionId']
            )
            break
        except Exception as e:
            if "not yet finished" in str(e):
                time.sleep(0.001)
            else:
                raise e
    temp_file_location: str = "athena_query_results.csv"
    s3_client = boto3.client("s3",
       aws_access_key_id=AWS_ACCESS_KEY,
       aws_secret_access_key=AWS_SECRET_KEY,
       region_name=AWS_REGION,
       )
    s3_client.download_file(
        S3_BUCKET_NAME,
        f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
        )
    return pd.read_csv(temp_file_location)

In [65]:
#catch query response

response = athena_client.start_query_execution(
    QueryString="SELECT * FROM enigma_jhud",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
        },
    )

#save function output to a df

enigma_jhud = download_and_load_query_results(athena_client, response)

enigma_jhud.head()

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key,partition_0
0,NaN,NaN,Missouri,US,2020-03-16T17:13:23,38.456,-92.288,6.0,0.0,0.0,NaN,"""Missouri",csv
1,NaN,NaN,Channel Islands,United Kingdom,2020-03-16T14:38:45,49.372,-2.364,6.0,0.0,0.0,NaN,"""Channel Islands",csv
2,NaN,NaN,NaN,Uzbekistan,2020-03-16T14:38:45,41.377,64.585,6.0,0.0,0.0,NaN,Uzbekistan,csv
3,NaN,NaN,Nova Scotia,Canada,2020-03-16T17:53:03,44.682,-63.744,5.0,0.0,0.0,NaN,"""Nova Scotia",csv
4,NaN,NaN,NaN,Ethiopia,2020-03-16T14:38:45,9.145,40.490,5.0,0.0,0.0,NaN,Ethiopia,csv

In [66]:
#catch query response

response = athena_client.start_query_execution(
    QueryString="SELECT * FROM nytimes_data_usa_us_county",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
        },
    )

#save function output to a df

nytimes_data_usa_us_county = download_and_load_query_results(athena_client, response)

nytimes_data_usa_us_county.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0    1.0     0.0
1  2020-01-22  Snohomish  Washington  53061.0    1.0     0.0
2  2020-01-23  Snohomish  Washington  53061.0    1.0     0.0
3  2020-01-24       Cook    Illinois  17031.0    1.0     0.0
4  2020-01-24  Snohomish  Washington  53061.0    1.0     0.0

In [67]:
#catch query response

response = athena_client.start_query_execution(
    QueryString="SELECT * FROM nytimes_data_usa_us_states",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
        },
    )

#save function output to a df

nytimes_data_usa_us_states = download_and_load_query_results(athena_client, response)

nytimes_data_usa_us_states.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [68]:
#catch query response

response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_testing_data_states_daily",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
        },
    )

#save function output to a df

rearc_testing_data_states_daily = download_and_load_query_results(athena_client, response)

rearc_testing_data_states_daily.head()

,date,state,positive,probablecases,negative,pending,totaltestresultssource,totaltestresults,hospitalizedcurrently,hospitalizedcumulative,...,dataqualitygrade,deathincrease,hospitalizedincrease,hash,commercialscore,negativeregularscore,negativescore,positivescore,score,grade
0,20210220,UT,366034,NaN,1507875.0,NaN,totalTestsViral,2788882,260.0,14421.0,...,NaN,8.0,39.0,70f3e22ea3d10f99d5f3c09c55ba95fa1b8aaabb,0.0,0.0,0.0,0.0,0.0,NaN
1,20210220,VA,561812,117662.0,NaN,195.0,totalTestEncountersViral,5728208,1594.0,23436.0,...,NaN,99.0,67.0,75d813bab6075e36b3ed1d3bbbfe18f6692e3959,0.0,0.0,0.0,0.0,0.0,NaN
2,20210220,VI,2575,NaN,43564.0,108.0,posNeg,46139,NaN,NaN,...,NaN,0.0,0.0,7ca160663de572688bb23d17943b6f59863f5fd0,0.0,0.0,0.0,0.0,0.0,NaN
3,20210220,VT,14359,411.0,309335.0,NaN,totalTestsViral,1009285,39.0,NaN,...,NaN,3.0,0.0,5156647b94cb2e59c9e4e26be1943e4827a99f13,0.0,0.0,0.0,0.0,0.0,NaN
4,20210220,WA,332904,17485.0,NaN,NaN,totalTestEncountersViral,5048054,608.0,18969.0,...,NaN,19.0,35.0,8150e925fc2fb429eeb347109e52f7b99ba00f17,0.0,0.0,0.0,0.0,0.0,NaN

In [69]:
#catch query response

response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_testing_data_us_daily",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
        },
    )

#save function output to a df

rearc_testing_data_us_daily = download_and_load_query_results(athena_client, response)

rearc_testing_data_us_daily.head()

,date,states,positive,negative,pending,hospitalizedcurrently,hospitalizedcumulative,inicucurrently,inicucumulative,onventilatorcurrently,...,lastmodified,recovered,total,posneg,deathincrease,hospitalizedincrease,negativeincrease,positiveincrease,totaltestresultsincrease,hash
0,20210307,56,28755524.0,74579770.0,11808.0,40212.0,878613.0,8137.0,45475.0,2801.0,...,2021-03-07T24:00:00Z,NaN,0,0,839,726,130414,41265,1156241,8b26839690cd05c0cef69cb9ed85641a76b5e78e
1,20210306,56,28714259.0,74449356.0,11783.0,41401.0,877887.0,8409.0,45453.0,2811.0,...,2021-03-06T24:00:00Z,NaN,0,0,1674,503,142201,59620,1409138,d0c0482ea549c9d5c04a7c86acb6fc6a8095a592
2,20210305,56,28654639.0,74307155.0,12213.0,42541.0,877384.0,8634.0,45373.0,2889.0,...,2021-03-05T24:00:00Z,NaN,0,0,2221,2781,271917,68787,1744417,a35ea4289cec4bb55c9f29ae04ec0fd5ac4e0222
3,20210304,56,28585852.0,74035238.0,12405.0,44172.0,874603.0,8970.0,45293.0,2973.0,...,2021-03-04T24:00:00Z,NaN,0,0,1743,1530,177957,65487,1590984,a19ad6379a653834cbda3093791ad2c3b9fab5ff
4,20210303,56,28520365.0,73857281.0,11778.0,45462.0,873073.0,9359.0,45214.0,3094.0,...,2021-03-03T24:00:00Z,NaN,0,0,2449,2172,267001,66836,1406795,9e1d2afda1b0ec243060d6f68a7134d011c0cb2a

In [70]:
#catch query response

response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_testing_data_us_total_latest",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
        },
    )

#save function output to a df

rearc_testing_data_us_total_latest = download_and_load_query_results(athena_client, response)

rearc_testing_data_us_total_latest.head()

,positive,negative,pending,hospitalizedcurrently,hospitalizedcumulative,inicucurrently,inicucumulative,onventilatorcurrently,onventilatorcumulative,recovered,hash,lastmodified,death,hospitalized,total,totaltestresults,posneg,notes
0,1061101,5170081,2775,53793,111955,9486,4192,4712,373,153947,95064ba29ccbc20dbec397033dfe4b1f45137c99,2020-05-01T09:12:31.891Z,57266,111955,6233957,6231182,6231182,"""NOTE: """"total"""""

In [71]:
#catch query response

response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_usa_hospital_beds",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
        },
    )

#save function output to a df

rearc_usa_hospital_beds = download_and_load_query_results(athena_client, response)
rearc_usa_hospital_beds.head()

,objectid,hospital_name,hospital_type,hq_address,hq_address1,hq_city,hq_state,hq_zip_code,county_name,state_name,...,num_licensed_beds,num_staffed_beds,num_icu_beds,adult_icu_beds,pedi_icu_beds,bed_utilization,avg_ventilator_usage,potential_increase_in_bed_capac,latitude,longtitude
0,1,Phoenix VA Health Care System (AKA Carl T Hayd...,VA Hospital,650 E Indian School Rd,NaN,Phoenix,AZ,85012,Maricopa,Arizona,...,129.0,129.0,0,0,NaN,NaN,0.0,0,33.495498,-112.066157
1,2,Southern Arizona VA Health Care System,VA Hospital,3601 S 6th Ave,NaN,Tucson,AZ,85723,Pima,Arizona,...,295.0,295.0,2,2,NaN,NaN,2.0,0,32.181263,-110.965885
2,3,VA Central California Health Care System,VA Hospital,2615 E Clinton Ave,NaN,Fresno,CA,93703,Fresno,California,...,57.0,57.0,2,2,NaN,NaN,2.0,0,36.773323,-119.779742
3,4,VA Connecticut Healthcare System - West Haven ...,VA Hospital,950 Campbell Ave,NaN,West Haven,CT,6516,New Haven,Connecticut,...,216.0,216.0,1,1,NaN,NaN,2.0,0,41.284400,-72.957610
4,5,Wilmington VA Medical Center,VA Hospital,1601 Kirkwood Hwy,NaN,Wilmington,DE,19805,New Castle,Delaware,...,60.0,60.0,0,0,NaN,NaN,1.0,0,39.740206,-75.606533

In [72]:
#catch query response

response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_countrycode",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
        },
    )

#save function output to a df

static_country_code = download_and_load_query_results(athena_client, response)

static_country_code.head()

          country alpha-2 code alpha-3 code  numeric code  latitude  longitude
0     Afghanistan           AF          AFG           4.0   33.0000       65.0
1         Albania           AL          ALB           8.0   41.0000       20.0
2         Algeria           DZ          DZA          12.0   28.0000        3.0
3  American Samoa           AS          ASM          16.0  -14.3333     -170.0
4         Andorra           AD          AND          20.0   42.5000        1.6

In [73]:
#catch query response

response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_state_abv",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
        },
    )

#save function output to a df

static_state_abv = download_and_load_query_results(athena_client, response)
new_header = static_state_abv.iloc[0]
static_state_abv = static_state_abv.iloc[1:]
static_state_abv.columns = new_header
static_state_abv.head()

0       State Abbreviation
1     Alabama           AL
2      Alaska           AK
3     Arizona           AZ
4    Arkansas           AR
5  California           CA

# Create Data Model and ETL jobs

In [74]:
# create fact table

fact_covid_1 = enigma_jhud[['fips', 'province_state', 'country_region', 'confirmed', 'deaths', 'recovered', 'active']]
fact_covid_2 = rearc_testing_data_states_daily[['fips', 'date', 'state', 'positive', 'negative', 'hospitalizedcurrently', 'hospitalized', 'hospitalizeddischarged']]
fact_covid = pd.merge(fact_covid_1, fact_covid_2, on="fips", how="inner")

#fact_covid.head().sort_values(by="positive")
print(fact_covid.shape)
fact_covid.loc[fact_covid['fips'].notnull()].head()

(27992, 14)

,fips,province_state,country_region,confirmed,deaths,recovered,active,date,state,positive,negative,hospitalizedcurrently,hospitalized,hospitalizeddischarged
24440,72.0,Puerto Rico,US,5.0,0.0,0.0,NaN,20210219,PR,98624,305972.0,214.0,NaN,NaN
24441,72.0,Puerto Rico,US,5.0,0.0,0.0,NaN,20210218,PR,98506,305972.0,233.0,NaN,NaN
24442,72.0,Puerto Rico,US,5.0,0.0,0.0,NaN,20210217,PR,98428,305972.0,241.0,NaN,NaN
24443,72.0,Puerto Rico,US,5.0,0.0,0.0,NaN,20210216,PR,98317,305972.0,220.0,NaN,NaN
24444,72.0,Puerto Rico,US,5.0,0.0,0.0,NaN,20210215,PR,97837,305972.0,209.0,NaN,NaN

In [75]:
enigma_jhud.columns

Index(['fips', 'admin2', 'province_state', 'country_region', 'last_update',
       'latitude', 'longitude', 'confirmed', 'deaths', 'recovered', 'active',
       'combined_key', 'partition_0'],
      dtype='object')

In [76]:
nytimes_data_usa_us_county.columns

Index(['date', 'county', 'state', 'fips', 'cases', 'deaths'], dtype='object')

In [77]:
#create dim region table

dim_region_1 = enigma_jhud[['fips', 'province_state', 'country_region', 'latitude', 'longitude']]
dim_region_2 = nytimes_data_usa_us_county[['fips', 'county', 'state']]
dim_region = pd.merge(dim_region_1, dim_region_2, on="fips", how="inner")

print(dim_region.shape)
dim_region.head()

(11752274, 7)

,fips,province_state,country_region,latitude,longitude,county,state
0,NaN,Missouri,US,38.456,-92.288,New York City,New York
1,NaN,Missouri,US,38.456,-92.288,Unknown,Rhode Island
2,NaN,Missouri,US,38.456,-92.288,New York City,New York
3,NaN,Missouri,US,38.456,-92.288,Unknown,Rhode Island
4,NaN,Missouri,US,38.456,-92.288,New York City,New York

In [78]:
#create hospital dimension table

dim_hospital_1 = enigma_jhud[['fips', 'province_state']]
dim_hospital_2 = rearc_usa_hospital_beds[['fips', 'hospital_name', 'latitude', 'longtitude', 'hospital_type', 'hq_address', 'hq_city', 'hq_state']]
dim_hospital = pd.merge(dim_hospital_1, dim_hospital_2, on="fips", how="inner")

print(dim_hospital.shape)
dim_hospital.head()

(635532, 9)

,fips,province_state,hospital_name,latitude,longtitude,hospital_type,hq_address,hq_city,hq_state
0,NaN,Missouri,LBJ Tropical Medical Center,-14.290190,-170.685773,Short Term Acute Care Hospital,Fagaalu Village,Pago Pago,AS
1,NaN,Missouri,Guam Memorial Hospital Authority,13.497600,144.776100,Short Term Acute Care Hospital,850 Gov Carlos G Camacho Rd,Tamuning,GU
2,NaN,Missouri,Commonwealth Health Center,15.210586,145.724170,Short Term Acute Care Hospital,1 Lower Navy Hill Rd,Saipan,MP
3,NaN,Missouri,Gov Juan F Luis Hospital & Medical Center,17.733677,-64.751576,Short Term Acute Care Hospital,4007 Estate Diamond Ruby Christiansted,St Croix,VI
4,NaN,Missouri,Schneider Regional Medical Center,18.340328,-64.914671,Short Term Acute Care Hospital,9048 Sugar Est,St Thomas,VI

In [79]:
#create date dimension table

dim_date = rearc_testing_data_states_daily[['fips', 'date']]
dim_date['date'] = pd.to_datetime(dim_date.date, format='%Y%m%d')
dim_date['year'] = dim_date.date.dt.year
dim_date['month'] = dim_date.date.dt.month
dim_date['dayofweek'] = dim_date.date.dt.dayofweek
dim_date.head()

<ipython-input-79-8d09117d57be>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dim_date['date'] = pd.to_datetime(dim_date.date, format='%Y%m%d')
<ipython-input-79-8d09117d57be>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dim_date['year'] = dim_date.date.dt.year
<ipython-input-79-8d09117d57be>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dim_date['month'] = dim_date.date.dt.month
<ipython-input-79-8d09117d57be>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dim_date['dayofweek'] = dim_date.date.dt.dayofweek

   fips       date  year  month  dayofweek
0  49.0 2021-02-20  2021      2          5
1  51.0 2021-02-20  2021      2          5
2  78.0 2021-02-20  2021      2          5
3  50.0 2021-02-20  2021      2          5
4  53.0 2021-02-20  2021      2          5

In [80]:
#store data warehouse tables to S3 prod bucket

csv_buffer = StringIO() #stores value into binary form
fact_covid.to_csv(csv_buffer)
s3_resource = boto3.resource('s3',
                       region_name=AWS_REGION,
                       aws_access_key_id=AWS_ACCESS_KEY,
                       aws_secret_access_key=AWS_SECRET_KEY)
s3_resource.Object(S3_PROD_BUCKET, 'output/fact_covid.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'T04RPVW70SYTMMRM',
  'HostId': 'H6lUotEnVPmHO0meCGb5uoeDBh2s+5LFmFh6WeSHfinjitD88/ZYeRXHLyJzc1N6owyADFQEjzY=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'H6lUotEnVPmHO0meCGb5uoeDBh2s+5LFmFh6WeSHfinjitD88/ZYeRXHLyJzc1N6owyADFQEjzY=',
   'x-amz-request-id': 'T04RPVW70SYTMMRM',
   'date': 'Wed, 23 Nov 2022 09:09:20 GMT',
   'etag': '"b957211cb214360c271eebef780ff2d0"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 1},
 'ETag': '"b957211cb214360c271eebef780ff2d0"'}

In [81]:
csv_buffer_1 = StringIO()
dim_date.to_csv(csv_buffer_1)
s3_resource = boto3.resource('s3',
                       region_name=AWS_REGION,
                       aws_access_key_id=AWS_ACCESS_KEY,
                       aws_secret_access_key=AWS_SECRET_KEY)
s3_resource.Object(S3_PROD_BUCKET, 'output/dim_date.csv').put(Body=csv_buffer_1.getvalue())

{'ResponseMetadata': {'RequestId': 'VYG58ASEQD47ES0F',
  'HostId': 'MaXSV2Oy83bRE2pGU/NCBIstmBrj83nyAUaUmHsu54Mi4VLnquUcJYYrVxFncQkCmeTui1H6LIc=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'MaXSV2Oy83bRE2pGU/NCBIstmBrj83nyAUaUmHsu54Mi4VLnquUcJYYrVxFncQkCmeTui1H6LIc=',
   'x-amz-request-id': 'VYG58ASEQD47ES0F',
   'date': 'Wed, 23 Nov 2022 09:09:22 GMT',
   'etag': '"df8e1b95509869fe7b65916e18fbe1e7"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 1},
 'ETag': '"df8e1b95509869fe7b65916e18fbe1e7"'}

In [82]:
csv_buffer_2 = StringIO()
dim_hospital.to_csv(csv_buffer_2)
s3_resource = boto3.resource('s3',
                       region_name=AWS_REGION,
                       aws_access_key_id=AWS_ACCESS_KEY,
                       aws_secret_access_key=AWS_SECRET_KEY)
s3_resource.Object(S3_PROD_BUCKET, 'output/dim_hospital.csv').put(Body=csv_buffer_2.getvalue())

{'ResponseMetadata': {'RequestId': '9TEEN9M6DC72RQR4',
  'HostId': 'TuzInLugCzONjBrSirOKUecrUXVZvgrqnNOdNecnGgVPXcFgNT/sGKBYCxNJSsyfZqBfoChXYjc=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'TuzInLugCzONjBrSirOKUecrUXVZvgrqnNOdNecnGgVPXcFgNT/sGKBYCxNJSsyfZqBfoChXYjc=',
   'x-amz-request-id': '9TEEN9M6DC72RQR4',
   'date': 'Wed, 23 Nov 2022 09:09:30 GMT',
   'etag': '"10cba101146c68e79150b8f739a01a35"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 1},
 'ETag': '"10cba101146c68e79150b8f739a01a35"'}

In [83]:
"""
dim_region.to_csv(csv_buffer)
s3_resource = boto3.resource('s3',
                       region_name=AWS_REGION,
                       aws_access_key_id=AWS_ACCESS_KEY,
                       aws_secret_access_key=AWS_SECRET_KEY)
s3_resource.Object(S3_PROD_BUCKET, 'output/dim_region.csv').put(Body=csv_buffer.getvalue())
"""

"\ndim_region.to_csv(csv_buffer)\ns3_resource = boto3.resource('s3',\n                       region_name=AWS_REGION,\n                       aws_access_key_id=AWS_ACCESS_KEY,\n                       aws_secret_access_key=AWS_SECRET_KEY)\ns3_resource.Object(S3_PROD_BUCKET, 'output/dim_region.csv').put(Body=csv_buffer.getvalue())\n"

In [84]:
#extract schema from dim and fact tables

dim_date_schema = pd.io.sql.get_schema(dim_date.reset_index(), "dim_date")
print(dim_date_schema)

CREATE TABLE "dim_date" (
"index" INTEGER,
  "fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "dayofweek" INTEGER
)

In [85]:
dim_hospital_schema = pd.io.sql.get_schema(dim_hospital.reset_index(), "dim_hospital")
print(dim_hospital_schema)

CREATE TABLE "dim_hospital" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "hospital_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hospital_type" TEXT,
  "hq_address" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)

In [86]:
fact_covid_schema = pd.io.sql.get_schema(fact_covid.reset_index(), "fact_covid")
print(fact_covid_schema)

CREATE TABLE "fact_covid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "state" TEXT,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)

In [87]:
#connect to redshift using redshift connector

#%pip install redshift_connector --user

try:
    conn = redshift_connector.connect(
        host='redshift-cluster-1.cwb12s4gufsc.ap-northeast-1.redshift.amazonaws.com',
        database='dev',
        user='awsuser',
        password='Passw0rd123'
    )
except Exception as e:
    print(e)

conn.autocommit=True

#create cursor
try:
    cursor = redshift_connector.Cursor = conn.cursor()
except Exception as e:
    print(e)

In [88]:
#create tables in redshift

cursor.execute("""
CREATE TABLE "dim_date" (
"index" INTEGER,
  "fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "dayofweek" INTEGER
)
""")

cursor.execute("""
CREATE TABLE "dim_hospital" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "hospital_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hospital_type" TEXT,
  "hq_address" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)
""")

cursor.execute("""
CREATE TABLE "fact_covid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "state" TEXT,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)
""")

In [89]:
#copy data from s3 to redshift

cursor.execute("""
copy fact_covid from 's3://covid-data-warehouse/output/fact_covid.csv'
credentials 'aws_iam_role=arn:aws:iam::012925758763:role/redshift-s3-access'
delimiter ',' 
region 'ap-southeast-1'
IGNOREHEADER 1
"""
)

cursor.execute("""
copy dim_date from 's3://covid-data-warehouse/output/dim_date.csv'
credentials 'aws_iam_role=arn:aws:iam::012925758763:role/redshift-s3-access'
delimiter ',' 
region 'ap-southeast-1'
IGNOREHEADER 1
"""
)

cursor.execute("""
copy dim_hospital from 's3://covid-data-warehouse/output/dim_hospital.csv'
credentials 'aws_iam_role=arn:aws:iam::012925758763:role/redshift-s3-access'
delimiter ',' 
region 'ap-southeast-1'
IGNOREHEADER 1
"""
)